@charset "utf-8";
/* COMMON CSS */
.clearfix::after, .clearfix::before {
	content: "";
	display: block;
}
.clearfix::after {
	clear: both;
}
body {
	overflow-y: hidden;
}
section {
	width: 100%;
	background-color: #fff;
}
section:nth-child(2n+1) {
	background-color: #000;
}

.inner {
	width: calc(100% - 200px);
	height: 100%;
	float: right;
}
section .inner h3 {
	font-size: 60px;
	line-height: 60px;
	color: #000;
}
section:nth-child(2n+1) .inner h3 {
	color: #fff;
}

/* 헤더 */
#header {
	position: fixed; left: 0; top: 0;
	z-index: 9999;
	width: 200px;
	height: 100vh;
	border-right: 1px solid #ccc;
}
#header h1 {
	width: 160px;
	height: 34px;
	margin: 0 auto;
	margin-top: 40px;
	background: url(../images/logoW.png) no-repeat center;
	background-size: 100%;
	transition: background 1s;
}
#header.Black h1 {
	background: url(../images/logoB.png) no-repeat center;
	background-size: 100%;
}
#header h1 a {
	display: block;
	width: 100%;
	height: 100%;
}
#gnb {
	margin: 0 auto;
	margin-top: 100px;
}
#gnb ul li a {
	display: block;
	padding: 20px;
	color: #fff;
	transition: color 1s;
}
#header.Black #gnb ul li a {
	color: #000;
}
#gnb ul li a span {
	opacity: 0.4;
	transition: opacity 0.3s;
}
#gnb ul li.on a span,
#gnb ul li a:hover span,
#gnb ul li a:focus span {
	opacity: 1;
}

/* 메인 */
#main .inner {
	position: relative;
}
#main .keytext {
	position: absolute; left: 50px; top: 30%;
}
#main .keytext h2 {
	width: 577px;
	font-size: 72px;
	line-height: 72px;
	color: #fff;
	font-style: italic;
	overflow: hidden;
}
#main .keytext p {
	padding: 30px 0 0 10px;
	font-size: 25px;
	line-height: 40px;
	color: #fff;
	overflow: hidden;
}
#main .keytext span {
	display: block;
	opacity: 0;
	transform: translateY(90px);
	transition: transform 0.8s, opacity 0.3s;
}
#main .keytext p span:nth-child(1) {
	transition-delay: 0.8s;
}
#main .keytext p span:nth-child(2) {
	transition-delay: 1s;
}
#main.active .keytext h2 span,
#main.active .keytext p span {
	opacity: 1;
	transform: translateY(0);
}

/* 툴 */
#tool .inner h3 {
	padding: 70px 0;
	text-align: center;
}
#tool .inner ul {
	width: 810px;
	margin: 0 auto;
	overflow: hidden;
}
#tool .inner ul li {
	float: left;
	width: 180px;
	height: 200px;
	margin-left: 30px;
	margin-top: 30px;
	overflow: hidden;
	transition: transform 0.3s;
}
#tool .inner ul li:nth-child(4n+1) {
	margin-left: 0;
}
#tool .inner ul li p {
	padding-top: 25px;
	border: 1px solid #ccc;
	font-size: 30px;
	line-height: 65px;
	text-align: center;
	opacity: 0;
	transform: translateY(90px);
	transition: transform 0.8s, opacity 0.3s;
}
#tool .inner ul li:nth-child(2) p,
#tool .inner ul li:nth-child(4) p,
#tool .inner ul li:nth-child(5) p,
#tool .inner ul li:nth-child(7) p {
	transform: translateY(-90px);
}
#tool.active .inner ul li p {
	opacity: 1;
	transform: translateY(0);
}
#tool .inner ul li p img {
	width: 100px;
}
#tool .inner ul li:hover {
	transform: translateY(5px);
}

/* 어바웃 */
#about .inner h3 {
	padding: 70px 0;
	text-align: center;
}
div.jqcloud span {
	opacity: 0;
	transition: transform 0.5s, opacity 0.8s;
}
div.jqcloud span:hover {
	transform: scale(1.1);
}
#about.active div.jqcloud span {
	opacity: 1;
}
div.jqcloud {
	font-family: "Helvetica", "Arial", sans-serif;
	color: #09f;
	overflow: hidden;
	position: relative;
  }
div.jqcloud a {
	color: inherit;
	font-size: inherit;
	text-decoration: none;
}
div.jqcloud a:hover {
	color: #0df;
}
div.jqcloud a:hover {
	color: #0cf;
}
div.jqcloud span {
	padding: 0;
}
div.jqcloud span.w10 {
	/* font-size: 54px; */
	font-size: 60px;
	color: #0cf;
}
div.jqcloud span.w9 {
	/* font-size: 50px; */
	font-size: 56px;
	color: #0cf;
}
div.jqcloud span.w8 {
	/* font-size: 44px; */
	font-size: 50px;
	color: #0cf;
}
div.jqcloud span.w7 {
	/* font-size: 40px; */
	font-size: 46px;
	color: #39d;
}
div.jqcloud span.w6 {
	/* font-size: 34px; */
	font-size: 40px;
	color: #90c5f0;
}
div.jqcloud span.w5 {
	/* font-size: 30px; */
	font-size: 36px;
	color: #90a0dd;
}
div.jqcloud span.w4 {
	/* font-size: 24px; */
	font-size: 30px;
	color: #90c5f0;
}
div.jqcloud span.w3 {
	/* font-size: 20px; */
	font-size: 26px;
	color: #a0ddff;
}
div.jqcloud span.w2 {
	/* font-size: 14px; */
	font-size: 20px;
	color: #99ccee;
}
div.jqcloud span.w1 {
	/* font-size: 10px; */
	font-size: 16px;
	color: #aab5f0;
}

/* 포트폴리오 */
#portfolio .inner {
	position: relative;
}
#portfolio .inner h3 {
	position: absolute; left: 50px; top: 70px;
}
#portfolio .inner .portInner {
	float: left;
	position: relative;
	width: 960px;
	height: 100%;
	overflow: hidden;
}
#portfolio .inner ul {
	position: absolute; left: 0; bottom: 0;
	width: 1900px;
}
#portfolio .inner ul li {
	display: inline-block;
	margin-left: 20px;
	vertical-align: bottom;
}
#portfolio .inner ul li:nth-child(3n+1) {
	height: 550px;
}
#portfolio .inner ul li:nth-child(3n+2) {
	height: 450px;
}
#portfolio .inner ul li:nth-child(3n) {
	height: 700px;
}
#portfolio .inner ul li a {
	position: relative;
	display: block;
	float: left;
	width: 270px;
	height: 100%;
	font-size: 16px;
	line-height: 20x;
	background-color: #ccc;
	border: 1px solid #ccc;
	border-bottom: none;
	overflow: hidden;
}
#portfolio .inner ul li a img {
	height: 100%;
}
#portfolio .inner ul li a .info {
	position: absolute; left: 0; top: 0;
	width: 100%;
	height: 100%;
	padding: 40px;
	color: #fff;
	background-color: rgba(0,0,0,0.8);
	font-size: 16px;
	line-height: 25px;
	opacity: 0;
	transition: all 0.5s;
}
#portfolio .inner ul li a:hover .info,
#portfolio .inner ul li a:focus .info {
	opacity: 1;
}
#portfolio .inner ul li a .info span {
	position: relative;
	display: inline-block;
	width: 30px;
	height: 1px;
    background: #fff;
	transition: all 0.8s ;
}
#portfolio .inner ul li a .info span::after {
	position: absolute; right: 0; top: -7px;
	content: "";
	display: block;
    width: 8px;
    height: 7px;
    background: url(../images/arrow.png) no-repeat 0 0;
}
#portfolio .inner ul li a:hover .info span,
#portfolio .inner ul li a:focus .info span {
	width: 100px;
}
#portfolio .inner ul li p {
	/* float: left; */
	padding-top: 5px;
	font-size: 16px;
	line-height: 20x;
	writing-mode: tb-rl;
}
#portfolio .inner .portBtn {
	position: absolute; right: 50px; top: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
}
#portfolio .inner .portBtn a {
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/right.png) no-repeat center;
}
#portfolio .inner.move .portBtn a {
	background: url(../images/left.png) no-repeat center;
}
#portfolio .inner .portBtn a span {
	display: block;
	width: 0;
	height: 0;
	text-indent: -9999px;
	overflow: hidden;
}

/* 컨택트 */
#contact .inner {
	position: relative;
}
#contact h3 {
	padding: 70px 50px;
}
#contact p {
	position: absolute; left: 50px; bottom: 50px;
	width: 50%;
	font-size: 25px;
	line-height: 40px;
	color: #fff;
}
#contact .mapCont {
	position: absolute; right: 0; top: 0;
	width: 50%;
	height: 100%;
}
#map {
	width: 100%;
	height: 100%;
}